@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.App {
  text-align: center;
  font-family: 'Space Mono', 'monospace';
  box-sizing: border-box;
}

.dark-mode {
  background: black;
  color: white;
}

button {
  font-family: 'Space Mono', 'monospace';
  font-size: 1em;
  background: #3473db;
  color: white;
  padding: 0.25em;
  border-radius: 3px;
  border: none;
  margin-top: 0.5em;
  margin-right: 1em;
  float: right;
}

button:hover {
  transform: scale(1.2);
}

.calculator-box {
  width: 15em;
  margin: 2em auto;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 2em;
}

.dark-mode .calculator-box {
  border: 2px solid #28d161;
}

.top-display {
  border-bottom: 2px solid black;
  text-align: right;
  padding: 0.75em 1em 0.75em 1em;
}

.buttons-area {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background: #ece9ea;
  padding: 0.25em;
}

.dark-mode .buttons-area {
  background: #1b1b1b;
}
.right-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.right-side div.equal-button {
  background: #28d161;
}

.right-side div.equal-button:hover {
  background: #2ef370;
}

.left-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

.clear-button {
  background: #3473db;
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 3px;
  border: 1px solid black;
}

.clear-button:hover {
  background: #3a82f6;
}

.digit-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.digit-buttons div,
.right-side div,
.zero-button {
  background: #767676;
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 3px;
  border: 1px solid black;
}

.digit-buttons div:hover,
.right-side div:hover,
.zero-button:hover {
  background: #c3c2c2;
}

@media (max-width: 500px) {
  .calculator-box {
    width: 10em;
  }

  .digit-buttons div,
  .right-side div,
  .zero-button,
  .clear-button {
    margin: 0.25em;
    padding: 0.25em;
  }
}
